NEXT_PUBLIC_SITE_URL=https://your-vercel-domain.vercel.app

GOOGLE_SHEET_ID=1nH2JPhwIwHVa7tUPq3iHuEumgtPfl7jX00-CwsKPwKo
GOOGLE_SHEET_TAB_NAME=Sheet1
GOOGLE_CLIENT_EMAIL=tsewangbistashoes@tsewangbista-shoes.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY=PASTE_FULL_PRIVATE_KEY_WITH_\n_HERE

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tsewangbistaimp@gmail.com
SMTP_PASS=PASTE_GMAIL_APP_PASSWORD_HERE

ORDER_NOTIFICATION_EMAIL=tsewangbistaimp@gmail.com
CUSTOMER_EMAIL_FROM=TsewangBista Shoes <tsewangbistaimp@gmail.com>
CUSTOMER_REPLY_TO=tsewangbistaimp@gmail.com
